h1 {
    color: white;
    padding-left: 50px;
}

.header * {
    border: solid;
} 

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
a:link{
color:aquamarine;
}
a:visited{
    color:red;
}
.item{
    position:relative;

}
.item p{
    position:absolute;
    top: 50%;
    left: 40%;
}